---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {% if page.important_dates %}
      <div class="alert alert-warning" role="alert">
        {% if site.lang == 'de' %}
          <h4 class="alert-heading">Wichtige Daten</h4>
        {% else %}
          <h4 class="alert-heading">Important Dates</h4>
        {% endif %}
        {% if page.important_dates.size == 1 %}
          <p>{{ page.important_dates[0] }}</p>
        {% else %}
          <ul>
            {% for date in page.important_dates %}
              <li>{{ date }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endif %}

    {{ content }}
  </article>
</div>
