---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  {% if page.hidden_title != true %}
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-description">{{ page.description }}</p>
    </header>
  {% endif %}

  <article>
    {% assign image_size = 250 %}
    {% if page.team %}
      {% for team in page.team %}
        {% if forloop.index0 != 0 %}
          <hr>
        {% endif %}
        {% assign team_size = team.members | size %}

        <h2>{{ team.title }}</h2>
        {% if team_size == 1 %}
          <p>
            {% if team.members[0].image %}
              <img src="{{team.members[0].image | relative_url}}" alt="{{team.members[0].name}}" width="{{ image_size }}">
            {% endif %}
          </p>
          <p>
            {% if team.members[0].url %}
              <a href="{{team.members[0].url}}">{{ team.members[0].name }}</a>
            {% else %}
              {{ team.members[0].name }}
            {% endif %}
            <br>
            {{ team.members[0].affiliation }}
          </p>
        {% elsif team_size == 2 %}
          <table data-toggle="table" class="table-hover">
            <tbody>
              <tr>
                <td>
                  <p>
                    {% if team.members[0].image %}
                      <img src="{{team.members[0].image | relative_url}}" alt="{{team.members[0].name}}" width="{{ image_size }}">
                    {% endif %}
                  </p>
                </td>
                <td>
                  <p>
                    {% if team.members[1].image %}
                      <img src="{{team.members[1].image | relative_url}}" alt="{{team.members[1].name}}" width="{{ image_size }}">
                    {% endif %}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  {% if team.members[0].url %}
                    <a href="{{team.members[0].url}}">{{ team.members[0].name }}</a>
                  {% else %}
                    {{ team.members[0].name }}
                  {% endif %}
                </td>
                <td>
                  {% if team.members[1].url %}
                    <a href="{{team.members[1].url}}">{{ team.members[1].name }}</a>
                  {% else %}
                    {{ team.members[1].name }}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>{{ team.members[0].affiliation }}</td>
                <td>{{ team.members[1].affiliation }}</td>
              </tr>
            </tbody>
          </table>
        {% elsif team_size == 3 %}
          <table data-toggle="table" class="table-hover">
            <tbody>
              <tr>
                <td>
                  <p>
                    {% if team.members[0].image %}
                      <img src="{{team.members[0].image | relative_url}}" alt="{{team.members[0].name}}" width="{{ image_size }}">
                    {% endif %}
                  </p>
                </td>
                <td>
                  <p>
                    {% if team.members[1].image %}
                      <img src="{{team.members[1].image | relative_url}}" alt="{{team.members[1].name}}" width="{{ image_size }}">
                    {% endif %}
                  </p>
                </td>
                <td>
                  <p>
                    {% if team.members[2].image %}
                      <img src="{{team.members[2].image | relative_url}}" alt="{{team.members[2].name}}" width="{{ image_size }}">
                    {% endif %}
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  {% if team.members[0].url %}
                    <a href="{{team.members[0].url | relative_url}}">{{ team.members[0].name }}</a>
                  {% else %}
                    {{ team.members[0].name }}
                  {% endif %}
                </td>
                <td>
                  {% if team.members[1].url %}
                    <a href="{{team.members[1].url}}">{{ team.members[1].name }}</a>
                  {% else %}
                    {{ team.members[1].name }}
                  {% endif %}
                </td>
                <td>
                  {% if team.members[2].url %}
                    <a href="{{team.members[2].url}}">{{ team.members[2].name }}</a>
                  {% else %}
                    {{ team.members[2].name }}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>{{ team.members[0].affiliation }}</td>
                <td>{{ team.members[1].affiliation }}</td>
                <td>{{ team.members[2].affiliation }}</td>
              </tr>
            </tbody>
          </table>
        {% else %}
          <!-- More than 3 members: Currently Only a fallback -->
          {% for member in team.members %}
            <p>
              {% if member.image %}
                <img src="{{member.image | relative_url}}" alt="{{member.name}}" width="{{ image_size }}">
              {% endif %}
            </p>
            <p>
              {% if member.url %}
                <a href="{{member.url}}">{{ member.name }}</a>
              {% else %}
                {{ member.name }}
              {% endif %}
              <br>
              {{ member.affiliation }}
            </p>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {{ content }}
  </article>
</div>
